:root {
    /* COLOR PALETTE */
    --red: #991915;
    --grey-base: #333334;
    --white-base: #F5F5F5;
    --grey-light: #C4C4C4;
    --gradient-base: linear-gradient(180deg, rgba(20, 20, 20, 0.98) 48.04%, rgba(51, 51, 52, 0.88) 119.69%);
    --gradient-letter-home: linear-gradient(90deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0) 81.56%);
    --navbar: rgba(51, 51, 52, 0.6);
    --triangle-base: rgba(142, 142, 148, 0.7);
    --opacity-number-superior: rgba(245, 245, 245, 0.4);
    --drop-shadow: 0px 4px 100px 5px rgba(0, 0, 0, 0.5);
    /* FONT SIZE */
    /* FONT FAMILY */
    --oswald: 'Oswald', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--grey-base);
    color: var(--white-base);
    overflow-x: hidden;
}

html {
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    background: var(--navbar);
    overflow: hidden;
}

.nav {
    background: transparent;
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white-base);
}

.nav .nav__logo img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.nav__links {
    width: 100%;
}

.nav__links.actived {
    display: flex;
    animation-name: nav-links;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes nav-links {
    0% {
        opacity: 0;
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

.nav .nav__links ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav .nav__links ul li {
    list-style: none;
    text-align: center;
}

.nav .nav__links ul li a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--white-base);
    padding: .5rem 1rem;
    display: block;
}

.nav .nav__links ul li:hover {
    background-color: var(--red);
}

.nav__toggle-button {
    position: absolute;
    right: 1rem;
    top: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.nav__toggle-button .bar-1,
.nav__toggle-button .bar-2,
.nav__toggle-button .bar-3 {
    height: 3px;
    width: 100%;
    background-color: var(--white-base);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.nav__toggle-button.open .bar-1 {
    transform: rotate(45deg) translateY(12px);
    -webkit-transform: rotate(45deg) translateY(12px);
    -moz-transform: rotate(45deg) translateY(12px);
    -ms-transform: rotate(45deg) translateY(12px);
    -o-transform: rotate(45deg) translateY(12px);
}

.nav__toggle-button.open .bar-2 {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    background: transparent;
    box-shadow: none;
}

.nav__toggle-button.open .bar-3 {
    transform: rotate(-45deg) translateY(-12px);
    -webkit-transform: rotate(-45deg) translateY(-12px);
    -moz-transform: rotate(-45deg) translateY(-12px);
    -ms-transform: rotate(-45deg) translateY(-12px);
    -o-transform: rotate(-45deg) translateY(-12px);
}

section {
    width: 100%;
    height: 90vh;
}

.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 10% 50% 40% / 50% 50%;
    background-image: url("https://i.ibb.co/B28zt3c/FONDO.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.home__top .home__number {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 5rem;
    font-weight: 200;
    line-height: 56px;
    width: 20px;
    border-bottom: 2px solid var(--red);
    font-family: var(--oswald);
    color: var(--opacity-number-superior);
    grid-column: 1/3;
    grid-row: 1/2;
}

.home__title {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.home__title h1 {
    margin-left: 10px;
    font-size: 9rem;
    font-weight: 700;
    line-height: 10rem;
    width: 40%;
    word-wrap: break-word;
    background: var(--gradient-letter-home);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__subtitle {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 100%;
    width: 100%;
    align-items: center;
    align-self: center;
}

.home__subtitle p {
    margin-left: 10px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    height: 100%;
}

.home__figures {
    width: 100%;
    height: 100vh;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template: 100% / repeat(3, minmax(30px, 150px));
    place-items: center;
}

.square {
    z-index: 2;
    position: relative;
    width: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.square-01 {
    margin-top: 200px;
    height: 306px;
    background-image: url("https://i.ibb.co/DCy1Nz0/fondo-no-blur-1.png");
}

.square-02 {
    margin-bottom: 200px;
    height: 510px;
    background-image: url("https://i.ibb.co/gwcpd5T/fondo-no-blur.png");
}

.square-03 {
    margin-top: 200px;
    height: 447px;
    background-image: url("https://i.ibb.co/H7RbWGr/fondo-no-blur-3.png");
}

.home__scroll {
    position: relative;
    height: 100%;
    width: 100%;
    grid-column: 1/3;
    grid-row: 3/4;
    place-self: center;
}

.home__scroll img {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background: var(--red);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.gallery {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 10% 80% 10% / 100%;
    background: var(--gradient-base);
    place-items: center;
}

.gallery__title {
    grid-column: 1/2;
    grid-row: 1/2;
}

.gallery__title h2 {
    margin-top: 40px;
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 400;
}

.gallery__container {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.gallery__container .card {
    width: 100px;
    height: 400px;
    border-radius: 20px;
    background: var(--red);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition-property: flex background-image;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}

.gallery__container .card.active {
    flex: 5;
}

.gallery__container .card.active img {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.gallery__container .card.active h3 {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}

.gallery__container .card.active p {
    opacity: .8;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}

.gallery__container .card img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.gallery__container .card h3 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 20px;
}

.gallery__container .card p {
    position: absolute;
    opacity: 0;
    padding: 0 20px 20px 20px
}

.gallery__scroll {
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
    height: 100%;
    width: 100%;
    place-self: center;
}

.gallery__scroll img {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background: var(--red);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.scroll img {
    transition: transform .9s ease-in-out;
    -webkit-transition: transform .9s ease-in-out;
    -moz-transition: transform .9s ease-in-out;
    -ms-transition: transform .9s ease-in-out;
    -o-transition: transform .9s ease-in-out;
}

.scroll img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
}

.contact {
    width: 100%;
    overflow: hidden;
    background: var(--gradient-base);
}

.contact__main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.contact__main .img-container img {
    position: relative;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact__main .img-container {
    position: relative;
}

.contact__main .background {
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: -5px;
    background: var(--gradient-base);
    filter: blur(4px);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-filter: blur(4px);
}

.contact__main .main__text {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: grid;
    grid-template: repeat(2, 50%), 100%;
    gap: 0;
}

.main__text .main__title {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
}

.main__text .main__title h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    color: var(--red);
}

.main__text .main__title p {
    font-size: 4rem;
}

.main__text .main__paragraph p {
    font-size: 1.8rem;
    font-weight: 400;
}

.contact__team {
    margin-top: 100px;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    place-items: center;
}

.team-wrapper {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 33%);
    place-items: center;
    width: 100%;
    height: 100%;
}

.team-wrapper .team-icons {
    display: flex;
    gap: 10px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.team-wrapper .team-icons p:nth-child(2) {
    font-size: 3rem;
}

.team-wrapper .team-icons p:nth-child(3) {
    font-size: 1.2rem;
}

.team-wrapper .team-icons img {
    width: 80px;
    height: 80px;
    background-color: var(--red);
    padding: 20px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.team-icon-1 {
    grid-column: 1/2;
}

.team-icon-2 {
    grid-column: 2/3;
}

.team-icon-3 {
    grid-column: 3/4;
}

.team__our-team {
    margin-top: 100px;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    place-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    place-items: center;
}

.team__our-team .our-team__text {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    width: 80%;
    height: 100%;
    place-items: center;
}

.team__our-team .our-team__text h2 {
    font-size: 4rem;
    font-weight: 400;
    border-left: 2px solid var(--red);
}

.team__our-team .our-team__text p {
    margin-top: 20px;
    width: 60%;
}

.modal__content--slider {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: center;
}

.space {
    height: 80px;
    width: 100%;
}

.team__cards {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
}

.team__cards img {
    width: 140px;
    height: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.team-card {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    width: 50%;
    transition: transform 0.5s ease;
    place-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    justify-items: center;
}

.team-card h3 {
    font-size: 1.8rem;
}

.team-card p {
    font-size: 1.6rem;
}

#radio-1:checked~.team__cards #team-card-1,
#radio-2:checked~.team__cards #team-card-2,
#radio-3:checked~.team__cards #team-card-3 {
    opacity: 1;
    z-index: 6;
    transform: translateX(0) scale(1) translateY(50%);
    -webkit-transform: translateX(0) scale(1) translateY(50%);
    -moz-transform: translateX(0) scale(1) translateY(50%);
    -ms-transform: translateX(0) scale(1) translateY(50%);
    -o-transform: translateX(0) scale(1) translateY(50%);
}

#radio-1:checked~.team__cards #team-card-2,
#radio-2:checked~.team__cards #team-card-3,
#radio-3:checked~.team__cards #team-card-1 {
    opacity: 0.5;
    z-index: 1;
    transform: translateX(50%) scale(.8);
    -webkit-transform: translateX(50%) scale(.8);
    -moz-transform: translateX(50%) scale(.8);
    -ms-transform: translateX(50%) scale(.8);
    -o-transform: translateX(50%) scale(.8);
}

#radio-1:checked~.team__cards #team-card-3,
#radio-2:checked~.team__cards #team-card-1,
#radio-3:checked~.team__cards #team-card-2 {
    opacity: 0.5;
    z-index: 1;
    transform: translateX(-50%) scale(.8);
    -webkit-transform: translateX(-50%) scale(.8);
    -moz-transform: translateX(-50%) scale(.8);
    -ms-transform: translateX(-50%) scale(.8);
    -o-transform: translateX(-50%) scale(.8);
}

#radio-1,
#radio-2,
#radio-3 {
    display: none;
}

.contact__location {
    margin-top: 200px;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    place-items: center;
}

.location__container {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    place-self: center;
}

.contact__location h2 {
    font-size: 4rem;
    font-weight: 400;
    border-left: 2px solid var(--red);
}

.about__text {
    width: 100%;
    height: 100vh;
    background-image: url("https://i.ibb.co/GCFtGNM/Cont-ctanos-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.about__text p,
.about__text h3 {
    width: 80%;
    text-align: center;
}

.about__text p {
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
}

.about__text h3 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--red);
}

.about__text img {
    width: 80px;
    margin-bottom: 20px;
}

.about__contact {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: var(--gradient-base);
}

.wrap-text {
    text-align: start;
}

.wrap-text p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
}

.wrap-text p:nth-child(2) {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 400;
}

.contact__card-container {
    margin-left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact__card-container img {
    width: 60px;
    height: 60px;
    padding: 20px;
    background: var(--red);
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--grey-base);
}

.footer img {
    width: 45px;
    height: 25px;
    padding: 0 1rem;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grey-base);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    animation: loader 2s linear forwards;
    -webkit-animation: loader 2s linear forwards;
}

.loader div {
    background: var(--red);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    animation: scaling 2s ease-in-out infinite;
    -webkit-animation: scaling 2s ease-in-out infinite;
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes scaling {
    0%,
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    50% {
        transform: scale(.2);
        -webkit-transform: scale(.2);
        -moz-transform: scale(.2);
        -ms-transform: scale(.2);
        -o-transform: scale(.2);
    }
}

.loader div:nth-child(1) {
    animation-delay: 0.2s;
}

.loader div:nth-child(2) {
    animation-delay: 0.4s;
}

.loader div:nth-child(3) {
    animation-delay: 0.6s;
}

footer p {
    width: 100vw;
    font-size: 2rem;
    text-align: center;
    background: black;
    color: white;
}

footer p a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

@media (min-width: 450px) {
    .contact__main .img-container img {
        height: 80vh;
    }
}

@media (min-width: 600px) {
    .nav {
        display: grid;
        grid-template: 100%/ 50% 50%;
        width: 100%;
        place-content: center;
        place-items: center;
    }
    .nav .nav__toggle-button {
        display: none;
    }
    .nav .nav__logo {
        display: grid;
        width: 100%;
        place-content: start;
    }
    .nav .nav__logo img {
        width: 50px;
        height: 50px;
    }
    .nav .nav__links {
        display: grid;
        place-content: end;
    }
    .nav .nav__links ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .nav .nav__links ul li a {
        font-size: 2.5rem;
        padding: 1rem 2rem 1rem 2rem;
        text-decoration: none;
        color: var(--white-base);
        display: block;
    }
    .home__title h1 {
        width: 60%;
    }
    .home__top .home__number {
        font-size: 10rem;
        line-height: 10rem;
        width: 10%;
    }
    .main__text .main__title p {
        font-size: 6.5rem;
    }
    .contact__main .img-container img {
        height: 100vh;
    }
    .gallery__container .card img {
        width: 70px;
        height: 70px;
    }
    .gallery__container .card h3 {
        font-size: 5rem;
    }
    .square {
        width: 100px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .square-01 {
        height: 472px;
    }
    .square-02 {
        height: 784px;
    }
    .square-03 {
        height: 688px;
    }
    .home__title h1 {
        font-size: 18rem;
        line-height: 20rem;
    }
    .home__subtitle p {
        font-size: 3.5rem;
        line-height: 5rem;
    }
    .gallery__title h2 {
        font-size: 7rem;
    }
    .gallery__container {
        width: 80%;
    }
    .gallery__container .card {
        height: 600px;
    }
    .scroll img {
        width: 42px;
        height: 42px;
    }
    .footer img {
        width: 65px;
        height: 45px;
    }
    .footer {
        height: 50px;
    }
    /* ABOUT US RESPONSIVE */
    .team-wrapper .team-icons img {
        width: 120px;
        height: 120px;
    }
    .main__text .main__title h1 {
        font-size: 6.5rem;
    }
    .main__text .main__paragraph p {
        font-size: 3.5rem;
    }
    .team-wrapper .team-icons p:nth-child(2) {
        font-size: 5rem;
    }
    .team-wrapper .team-icons p:nth-child(3) {
        font-size: 2.5rem;
    }
    .team__our-team .our-team__text h2 {
        font-size: 6rem;
    }
    .team__our-team .our-team__text p {
        font-size: 3.5rem;
        width: 100%;
    }
    .team__cards {
        height: 100vh;
    }
    .team__cards img {
        width: 340px;
        height: 340px;
    }
    .team-card h3 {
        font-size: 3.2rem;
    }
    .team-card p {
        font-size: 2.6rem;
    }
    .contact__location h2 {
        font-size: 6.5rem;
    }
    .contact__location {
        margin-top: 500px;
    }
    .contact__team {
        margin-top: 200px;
    }
    /* CONTACT US PAGE */
    .about__text p {
        font-size: 6.5rem;
        line-height: 7rem;
    }
    .about__text h3 {
        font-size: 5.5rem;
    }
    .about__text img {
        width: 120px;
        margin-bottom: 20px;
    }
    .contact__card-container img {
        width: 80px;
        height: 80px;
        padding: 20px;
    }
    .wrap-text p:nth-child(1) {
        font-size: 3.2rem;
    }
    .wrap-text p:nth-child(2) {
        font-size: 2.2rem;
    }
    .contact__card-container {
        margin-left: calc(50% - 140px);
        gap: 30px;
    }
}

@media (min-width: 900px) {
    .contact__main .img-container img {
        height: 100vh;
        width: 100%;
    }
    .square {
        border-radius: 30px;
    }
    .square-01 {
        height: 412px;
    }
    .square-02 {
        height: 684px;
    }
    .square-03 {
        height: 600px;
    }
    .home__title h1 {
        font-size: 20rem;
        line-height: 21rem;
        width: 60%;
    }
    .home__subtitle p {
        font-size: 3.5rem;
        line-height: 5rem;
    }
    .nav .nav__links ul li a {
        font-size: 3rem;
    }
    .nav .nav__logo img {
        width: 60px;
        height: 60px;
    }
    .gallery__title h2 {
        font-size: 8rem;
    }
    .gallery__container {
        width: 60%;
    }
    .gallery__container .card {
        height: 600px;
    }
    .scroll img {
        width: 52px;
        height: 52px;
    }
    /* ABOUT US RESPONSIVE */
    .team-wrapper {
        width: 60%;
    }
    .team-wrapper .team-icons img {
        width: 140px;
        height: 140px;
    }
    .main__text .main__title h1 {
        font-size: 10rem;
    }
    .main__text .main__title p {
        font-size: 10rem;
    }
    .main__text .main__paragraph p {
        font-size: 3.5rem;
    }
    .team-wrapper .team-icons p:nth-child(2) {
        font-size: 5rem;
    }
    .team-wrapper .team-icons p:nth-child(3) {
        font-size: 2.5rem;
    }
    .team__our-team .our-team__text h2 {
        font-size: 8rem;
    }
    .team__our-team .our-team__text p {
        font-size: 3.5rem;
        width: 100%;
    }
    .team__cards img {
        width: 440px;
        height: 440px;
    }
    .team-card h3 {
        font-size: 4rem;
    }
    .team-card p {
        font-size: 3.4rem;
    }
    .contact__location h2 {
        font-size: 8rem;
    }
    .contact__location {
        margin-top: 600px;
    }
    /* CONTACT US PAGE */
    .about__text p {
        font-size: 7rem;
        line-height: 7rem;
    }
    .about__text h3 {
        font-size: 6rem;
    }
    .about__text img {
        width: 120px;
        margin-bottom: 20px;
    }
    .contact__card-container img {
        width: 80px;
        height: 80px;
        padding: 20px;
    }
    .wrap-text p:nth-child(1) {
        font-size: 3.5rem;
    }
    .wrap-text p:nth-child(2) {
        font-size: 2.5rem;
    }
    .contact__card-container {
        margin-left: calc(50% - 160px);
        gap: 40px;
    }
}

@media (min-width: 1600px) {
    .home__title h1 {
        width: 40%;
    }
}

@media (min-width:2000px) {
    .nav .nav__logo img {
        width: 100px;
        height: 100px;
    }
    .nav .nav__links ul li a {
        font-size: 5.5rem;
    }
    .home__top .home__number {
        font-size: 15rem;
        line-height: 15rem;
        width: 10%;
    }
    .home__title h1 {
        font-size: 30rem;
        line-height: 31rem;
    }
    .main__text .main__title h1 {
        font-size: 15rem;
    }
    .main__text .main__title p {
        font-size: 15rem;
    }
    .home__subtitle p {
        font-size: 4.5rem;
        line-height: 5rem;
    }
    .square {
        width: 150px;
    }
    .square-01 {
        height: 806px;
    }
    .square-02 {
        height: 1010px;
    }
    .square-03 {
        height: 947px;
    }
    .home__figures {
        grid-template: 100% / repeat(3, minmax(30px, 200px));
    }
    .gallery__title h2 {
        font-size: 10rem;
    }
    .gallery__container .card img {
        width: 100px;
        height: 100px;
    }
    .gallery__container .card h3 {
        font-size: 7rem;
        margin-bottom: 100px;
    }
    .gallery__container {
        width: 60%;
    }
    .gallery__container .card {
        height: 900px;
    }
    .scroll img {
        width: 72px;
        height: 72px;
    }
    .footer img {
        width: 85px;
        height: 65px;
    }
    .footer {
        height: 70px;
    }
    /* ABOUT US RESPONSIVE */
    .team-wrapper {
        width: 60%;
    }
    .team-wrapper .team-icons img {
        width: 240px;
        height: 240px;
    }
    .main__text .main__title h1 {
        font-size: 14rem;
    }
    .main__text .main__paragraph p {
        font-size: 6.5rem;
    }
    .team-wrapper .team-icons p:nth-child(2) {
        font-size: 5rem;
    }
    .team-wrapper .team-icons p:nth-child(3) {
        font-size: 2.5rem;
    }
    .team__our-team .our-team__text h2 {
        font-size: 12rem;
    }
    .team__our-team .our-team__text p {
        font-size: 6.5rem;
        width: 100%;
    }
    .team__cards img {
        width: 640px;
        height: 640px;
    }
    .team-card h3 {
        font-size: 4rem;
    }
    .team-card p {
        font-size: 3.4rem;
    }
    .contact__location h2 {
        font-size: 8rem;
    }
    .contact__location {
        margin-top: 800px;
    }
    /* CONTACT US PAGE */
    .about__text p {
        font-size: 10.5rem;
        line-height: 11rem;
    }
    .about__text h3 {
        font-size: 8rem;
    }
    .about__text img {
        width: 200px;
        margin-bottom: 20px;
    }
    .contact__card-container img {
        width: 140px;
        height: 140px;
        padding: 20px;
    }
    .wrap-text p:nth-child(1) {
        font-size: 5.2rem;
    }
    .wrap-text p:nth-child(2) {
        font-size: 4.2rem;
    }
    .contact__card-container {
        margin-left: calc(50% - 140px);
        gap: 60px;
    }
}